body {
    padding: 25px 40px 0px 40px;
    background: url(./assets/lightOrange.jpeg);
    background-size: cover;
    background-attachment: fixed;
}
/*--------------TOP--------------------------*/
header {
  text-align: center;
  border-radius: 20px;
}
#main-header {
    color: black;
    background-image: url(./assets/orangeUniverse.jpg);
    opacity: .95;
}
.mainNav li{
    width: auto;
    height: 90px;
    line-height: 90px;
    display: block;
    margin-bottom: 20px;
    background-color: gray;
    text-align: center;
    opacity: .6;
    transform: skew(40deg);
}
.mainNav li a {
    display: block;
    text-decoration: none;
    transform: skew(-40deg);
    color: black;
    opacity: 1;
}
.mainNav li:hover{
    background-color: turquoise;
    opacity: 1;
}
.about {
    width: auto;
}
.about h1 {
    width: auto;
    height: 40px;
    text-align: center;
    position: relative;
    background: turquoise;
  }
  .about h1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
  .about h1:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid turquoise;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }

